@import "styles/colours.scss";

.table {
  border-collapse: collapse;
  background-color: $colour-neutral-secondary;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .table__image {
    width: 2em;
    height: auto;
  }

  th {
    padding: 1em;
    background-color: $colour-medium-primary;
    text-align: left;
  }

  td {
    padding: 1em;
    color: white;

    &.positive {
      color: $colour-positive;
    }

    &.negative {
      color: $colour-negative;
    }
  }

  tbody {
    tr {
      cursor: pointer;
      transition: all 0.1s ease-out;
    }

    tr:hover {
      background-color: lighten($colour-medium-primary, 10%);
      opacity: 0.6;
    }
  }
}
